.chat-side {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  float: left;
  &__header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    &__box__user-name {
      display: inline-block;
      font-weight: bold;
      line-height: 100px;
      float: left;
      font-size: 16px;
      color: $white-font-color;
    }
    &__box__menu {
      display: inline-block;
      line-height: 100px;
      float: right;
      &__new-group {
        &__fa {
          color: $white-font-color;
          text-decoration: none;
        }
      }
    }
  }
  &__groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    box-sizing: border-box;
    &__group {
      box-sizing: border-box;
      padding: 20px 0;
      &__name {
        color: $white;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__latest-message {
        color: $white;
        margin-top: 5px;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}